.wrap{
	background: blue;
	width: 900px;
	margin: 10px auto;
}
 
/*bagian header*/
.wrap .header{
	background: #e0e0e0;
	/*height: 50px;*/
	padding: 5px 20px;
}
 
/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: #89cded;
}
 
.wrap .menu ul{
	padding: 0;
	margin: 0;
	background: #89cded;
	overflow: hidden;
}
 
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar{
	background: #c4e9fb;
	float: left;	
	width: 25%;
	height: 100%;
}
 
/*akhir sidebar*/
 
.wrap .badan .content{
	background: #069ee4;
	float: left;
	height: 100%;
	width: 75%;	
}
 
.wrap .footer{
	background: #045c85;
	width: 25%%;
	padding: 10px;
}